/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  min-height: 2000px;
  color: #5a5a5a;
  font-family: 'Open Sans Condensed', sans-serif;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-grindstone {
  /*
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222222));
  background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%);
  background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
  */
  background-color: #323232;
  border-bottom-color: #2a2a2a;
}

.navbar-grindstone .navbar-nav > .active > a {
  color: #ff9600;
  background-color: #2a2a2a;
  /*background-image: -webkit-gradient(linear, left 0%, left 100%, from(#222222), to(#282828));
  background-image: -webkit-linear-gradient(top, #222222, 0%, #282828, 100%);
  background-image: -moz-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);*/
}

/*.navbar-grindstone .navbar-brand,*/
.navbar-grindstone .navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
  color: #e7e7e7;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-grindstone .navbar-brand:hover,
.navbar-grindstone .navbar-nav > li > a:hover,
.navbar-grindstone .navbar-nav > li > a:focus {
  color: #cfcfcf;
  background-color: transparent;
}

.navbar-grindstone .navbar-nav > .active > a:hover,
.navbar-grindstone .navbar-nav > .active > a:focus {
  color: #cfcfcf;
  background-color: #2a2a2a;
}

.navbar-grindstone .navbar-toggle {
  border-color: #dddddd;
}

.navbar-grindstone .navbar-toggle:hover,
.navbar-grindstone .navbar-toggle:focus {
  background-color: #2a2a2a;
}

.navbar-grindstone .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

 /* Center logo correctly in navbar */
.navbar-grindstone .navbar-brand {
  padding: 6px 15px 5px 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  width: auto;
  overflow: hidden;
  /*height: 500px;*/
  /*max-height: 500px;*/
}

/* ORIG
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  */

/* Customize the Look and Feel to match GRINDSTONE! */

/* Make the primary buttons Grindstone */
.btn-primary-grindstone {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 0px;
}

.btn-primary-grindstone:active,
.btn-primary-grindstone.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary-grindstone {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#eb9316));
  background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #eb9316, 100%);
  background-image: -moz-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  background-repeat: repeat-x;
  border-color: #e38d13;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
}

.btn-primary-grindstone:hover,
.btn-primary-grindstone:focus {
  background-color: #eb9316;
  border-color: #e38d13;
  background-position: 0 -15px;
}

.btn-primary-grindstone:active,
.btn-primary-grindstone.active {
  background-color: #eb9316;
  border-color: #e38d13;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
